ul {
    list-style: none;
    padding: 0;
    border: 1px solid #e2e8f0;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    z-index: 2;
    background: #fff;
    max-height: 400px;
    margin-top: 5px;

    li {
        button {
            padding: 5px;
            height: 30px;
            width: 100%;
            text-align: left;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            color: #4a5568;

            &:hover {
                background-color: #edf2f7;
                color: #2d3748;
            }

        }
    }
}