@if(_observables.receiptModalError | async){
<div class="modal-error">
    <div class="body-modal-error">
        <div class="header-modal-error">
            <h2>Oops! Something went wrong</h2>
        </div>
        <div class="content-modal-error">
            <p>We are sorry, but an error occurred while processing your request.</p>
            <p>Please try again later.</p>
        </div>
        <div class="footer-modal-error">
            <button type="button" (click)="closeModal()">Close</button>
        </div>
    </div>
</div>

}